body{
    background-color: rgb(15, 15, 15);
    margin: 0px;
    padding: 0px;
    font: 16px/1 san-sarif, halvetical, arial;
}
header{
    margin: 0px;
    padding: 5px;
    background-color: rgb(43, 41, 41);
    display: flex;
    border-top: aqua 3px solid;
    border-bottom: rgb(197, 34, 5) 3px solid;

}
.item2
{
    margin-left: 400px;
    padding-top: 16px;
}
li
{   
    margin-left: 10px;
    padding: 15px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    
}
li a{
    text-decoration: none;
}
.item2 :hover{
    color: aqua;
}
.item1{
    margin-left: 15%;
    letter-spacing: 2px;
    color: aqua;
    font-size: 20px;

}
.nickname{
    color: rgb(197, 34, 5);

}
 h3{
    color: cadetblue;
    text-align: center; 
}
/* .paraedit{ */
    /* background-color: darkblue; */
/* } */
.para{
    color: beige;
    width: 60%;
    text-align: center; 
    margin-left: 300px;
}
footer{
    color: darkgrey;
    height: 50%;
    background-color: #24282c;
    margin-top: 10px;
    padding-left: 40%;
    padding-top: 10px;
}